<h1>Enter a price for an item, and then "pay" for it in the second input, and if you have any change you will get it back</h1>
<form action='/change'>
  <div class="form-group">
    <label for="price">Enter a price</label>
    <input id="price" name="price" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="cash">Enter the amount of cash you use to </label>
    <input id="cash" name="cash" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
